[Unit]
Description=GPIO FIFO listener

[Service]
Type=simple
Restart=always
ExecStart=/home/pi/git/Greenfire_lift/gpio_fifo_rpi.py

[Install]
WantedBy=multi-user.target
