[Unit]
Description = HAP (HomeKit) daemon
#Wants = pigpiod.service  # Remove this if you don't depend on pigpiod
After = local-fs.target network-online.target
#After = pigpiod.service

[Service]
WorkingDirectory = /home/pi/git/Greenfire_lift
Restart=always
# It's a good idea to use some unprivileged system user
# Script starting HAP-python, e.g. main.py
# Be careful to set any paths you use, e.g. for persisting the state.
#Environment=PYTHONPATH=/home/pi/.local/lib/python3.5/site-packages/
ExecStart = /home/pi/git/Greenfire_lift/hap_driver.py

[Install]
WantedBy=default.target

