[Unit]
Description=Lift HTTP listener

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/home/pi/git/Greenfire_lift/lift_server.py

[Install]
WantedBy=default.target
