[Unit]
Description=Lift HTTP listener
Requires=gpio_fifo.service

[Service]
Type=simple
Restart=Always
ExecStart=/usr/local/sbin/lift_server.py

[Install]
WantedBy=multi-user.target
