[Unit]
Description=Phone Home Reverse HTTP Service
ConditionPathExists=|/usr/bin
After=network.target

[Service]
User=chip
ExecStart=/usr/bin/ssh -NTC -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -o StrictHostKeyChecking=yes -R 12480:localhost:8000 greenfire@easy.uselesstrash.com

# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target
